<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ashish.movies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.MoviesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.ApiSpec"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.ApiSpec.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.movie.detail.MovieDetailActivity"
            android:label="" />

        <activity
            android:name=".ui.tvshow.detail.TVShowDetailActivity"
            android:label="" />

        <activity
            android:name=".ui.tvshow.season.SeasonDetailActivity"
            android:label="" />

        <activity
            android:name=".ui.tvshow.episode.EpisodeDetailActivity"
            android:label="" />

        <activity
            android:name=".ui.people.detail.PersonDetailActivity"
            android:label="" />

        <activity
            android:name=".ui.multisearch.MultiSearchActivity"
            android:label=""
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.imageviewer.ImageViewerActivity"
            android:label="" />

    </application>

</manifest>